<% layout('../layouts/boilerplate') %>
<h1>New Camp!</h1>
<form action="/campgrounds" method="POST">
    <div>
        <label for="">Title</label>
        <input type="text" id="title" name="campground[title]">
    </div>
    <div>
        <label for="">Location</label>
        <input type="text" id="location" name="campground[location]">
    </div>
    <button>Add Campground</button>
</form>
<a href="/campgrounds">All Campgrounds</a>